/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Swiper styles */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Global scrollbar styling */
* {
  scrollbar-width: thin;               
  scrollbar-color: #4a4a4a #f5f5f5;     
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f5f5f500;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #6b6b6b,
    #4a4a4a
  );
  border-radius: 10px;
  border: 2px solid #f5f5f5; // soft padding effect
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #2b2b2b,
    #000000
  );
}
